/* 고객센터 내용영역 */
#content .content_area{width: 1200px; border-top: 1px solid #ccc; font-family: 'Nanum Gothic', sans-serif; margin-bottom: 150px; color: #333;}
    
.faq{width: 1100px; border-bottom:1px solid #ddd;font-size:12px; margin-top: 150px; margin: 0 auto;}  
.faq .hgroup{position:relative; font-size: 25px; padding-left: 20px; margin-bottom: 25px;margin-top: 150px; }  
.faq .hgroup .all{position:absolute; top:5px; right:10px; color:#666; font-size: 16px; text-decoration:none;}  
.faq ul{margin:0;padding:0;list-style:none}  
.faq .q{margin:0; border-top: 1px solid #ddd; position: relative; font-size: 16px; background: #fff;}
.faq .q a.trigger{display:block;padding:30px 15px;background:rgba(19,101,187,.1);color:#333;text-align:left; text-decoration:none;}  
.faq .hide .q a.trigger{font-weight:normal;background:none}  
.faq .q a.trigger:hover,  
.faq .q a.trigger:active,  
.faq .q a.trigger:focus{background:rgba(19,101,187,.1);color:#000} 
.faq .q span{display: block; position: absolute; right: 45px; top:30px} 
.faq .a{margin:0; display: none; padding: 30px 35px; line-height: 30px; overflow: hidden;text-align: justify;font-size: 15px; background: #f9f9f9;} 
.faq .q i{color:#1365bb}
.faq .a i{color:#ff0000}
.faq i{font-size:15px;margin-right:10px}
.faq .q:hover i{transform: scale(1.3);}
.faq .a:hover i{transform: scale(1.3);}
