/* 투자정보 내용영역 */
#content .content_area{width: 1200px; font-family: 'Nanum Gothic', sans-serif;}

.content_area .tab_menu{overflow: hidden; z-index: 10; margin-bottom: 150px; border: 1px solid #1365bb; width:100%}
.content_area .tab_menu li{float: left;}
.content_area .tab_menu li:hover{transition: all .5s;}
.content_area .tab_menu li a{display: block; width: 600px; padding: 20px 0; font-weight:500; font-size: 20px; transition: all .5s ease-in;text-align: center;}
.content_area .investment{display: none;} 

.stock_01, .stock_02, .stock_03{margin-bottom: 200px; overflow:hidden;}
.content_area h3{font-size:50px; font-weight:700; margin-bottom:100px;text-align: center; }
.content_area h4{float:left;font-size: 30px; font-weight: 600; margin-bottom:20px}
.content_area p{float:right;position:relative; top:30px; right:10px}
.content_area table{width: 100%; font-size: 20px; color: #333; border-collapse: collapse;}
.content_area tr{border-bottom: 1px solid #ccc}
.content_area thead{border-top: 2px solid #666}
.content_area thead th{background: rgba(19,101,187,.1); padding: 40px 0;border-left: 1px solid #ccc;}
.content_area .stock_01 tbody td{padding: 30px;}
.content_area tbody td{border-left: 1px solid #ccc; padding: 25px;text-align: right;color: #666;}
.content_area tbody th{display:block; padding: 40px 0; font-weight:500;color: #666;}
.content_area tbody .first{text-align: left;}
.content_area .first{border-left:0}
.content_area .second{display: block; text-align: center;}
.content_area .stock_03 tbody{border-top: 2px solid #666;}
.content_area .stock_03 th{border-left: 1px solid #ccc; color:#333;background: rgba(19,101,187,.1); text-align: center; font-weight:600} 
.content_area .stock_03 tbody th:first-child{margin-left:0;}
.content_area .stock_03 td{text-align: center;}
.content_area .stock_03 .first{border-left:0}