/* CSR 내용영역 */
#content .content_area{width: 1200px;font-family: 'Nanum Gothic', sans-serif; margin-bottom: 150px; position: relative; color: #333;}

/* 쓰리댑 */
.content_area .slideMenu{overflow: hidden;position: relative;margin: 0 auto 150px; text-transform: uppercase; width:100%}
.content_area .slideMenu li{float: left;position: relative;width: 33.3%; text-align: center;}
.content_area .slideMenu li a{display: block;position: relative;font-size: 18px;transition: all .5s;}
.content_area .slideMenu li a:hover,
.content_area .slideMenu .current{color: #1365bb;font-weight: 600;}
.content_area .slideMenu::after,
.content_area .slideMenu li a::after{content: '';display: block;background: #ccc;transition: all .5s;}
.content_area .slideMenu::after{position: absolute;top: 38px; z-index: 2; width:100%;height: 1px;}
.content_area .slideMenu li a::after{position: relative;transition: all .5s ease;z-index: 10; margin: 10px auto;width: 10px;height: 10px;border-radius: 50%;}
.content_area .slideMenu .current::after,
.content_area .slideMenu li a:hover::after{background: #1365bb;border-radius: 2px;}

.content_area .slideMenu.navOn{position: fixed;width: 100%; height: 80px;top: 0;left: 0;background: #1365bb;z-index: 100;border-bottom:1px solid #eee;}
.content_area .slideMenu.navOn ul{width:1200px;margin: 0 auto;}
.content_area .slideMenu.navOn li{width:400px;}
.content_area .slideMenu.navOn li:hover a{color:#ccc;}
.content_area .slideMenu.navOn a{color: #fff; padding: 30px 0;font-size: 18px;}
.content_area .slideMenu.navOn::after,
.content_area .slideMenu.navOn li a::after{content: ''; display: none; background: #fff;}
.content_area .slideMenu.navOn .spy{background: #fff; color: #1365bb;font-weight: 600;}
.content_area .company_intro .boxMove{right:0; opacity: 1;} 

/* 스크롤 이벤트 */
.company_intro:nth-child(odd){position: relative;right: -1000px;top: 0;opacity: 0;transition: all .8s}
.company_intro:nth-child(even){position: relative;right: 1000px;top: 0;opacity: 0;transition: all .8s}
.company_intro.boxMove {right: 0;opacity: 1}   

.content_area h3{font-size:50px; font-weight:700; margin-bottom:100px;text-align: center;}
.content_area h4{font-size:30px; font-weight:600; margin-bottom:30px;text-align: justify;position: relative; margin-left: 20px;}
.content_area h4::after{content:''; width:5px; height:30px;position: absolute;left:-15px;background: #1365bb;}
.content_area .sub_text_01{font-size:24px; font-weight:600; margin-bottom:100px;line-height:45px;text-align: center;}
.content_area .sub_text_01::after{content: ""; display: block; background: rgba(19,101,187,.5);width: 3px; height:100px;position:relative; margin:100px 600px;}
.content_area img{margin-bottom: 50px;}
.content_area p{display: block; font-size: 18px;line-height:30px; margin-bottom: 150px;}
.content_area strong{color: #1365bb;}   

.compliance_01{margin-bottom: 200px; position: relative;}
.compliance_01 li dl:hover {background:#1365bb;}
.compliance_01::after{content:'';border: 1px dashed rgba(19,101,187,.5);position:absolute;left:349px; top:1140px; height:320px;}
.compliance_01_inner{overflow:hidden;}
.compliance_01_inner_01{width:700px; float: left; position: relative;}
.compliance_01_inner_01::after{content:''; border: 1px dashed rgba(19,101,187,.5);position:absolute; left:730px; top:120px; width:100px; animation: line_02 4s infinite .7s normal;}
.compliance_01_inner_01::before{content:''; border: 1px dashed rgba(19,101,187,.5);position:absolute; left:720px; top:55px; width:115px;transform:rotate(-25deg);animation: line_02 4s infinite .7s normal;}
.compliance_01_inner_02::after{content:''; border: 1px dashed rgba(19,101,187,.5);position:absolute; left:720px; top:1350px; width:115px;transform:rotate(25deg);animation: line_02 4s infinite .7s normal;}
@keyframes line_02{from{width:5px; opacity: 3;} to{width:115px;opacity: 0;}}
.compliance_01_inner_02{float: right;margin-top:10px;}
.compliance_01_inner_01 li{float: left;width:350px;}
.compliance_01_inner_02 li{width:300px;}
.compliance_01_inner_02 li:hover{background: #1365bb;}
.compliance_01_inner dl{margin:0 25px 40px; padding:5px; border-radius:15px; text-align:center; background:rgba(19,101,187,.5); transition:all .4s ease-out;}
.compliance_01_inner dt{font-size:18px; color:#fff; margin:13px 0; position:relative;}
.compliance_01_inner dd{background:#fff; font-size:15px; margin-top:1px; padding:35px 25px; color:#666; line-height:30px;height:130px; border-radius:0 0 12px 12px;}
.compliance_01_inner_02 li{margin:0 10px 40px; padding:15px; border-radius:15px; text-align:center; background:rgba(19,101,187,.5); transition:all .4s ease-out;color:#fff;}
.compliance_02{margin-bottom: 200px;}
.compliance_02 p{display: block; font-size: 18px; line-height:35px; margin-bottom: 100px;}
.compliance_03 ul{overflow: hidden;}
.compliance_03 li{overflow: hidden;margin:80px 0 0;}
.compliance_03 li h4{margin-bottom:60px}
.compliance_03 dl{margin:15px 5px; padding:5px; border-radius:15px; text-align:center; background:rgba(19,101,187,.5); transition:all .4s ease-out;float: left; width:380px;}
.compliance_03 dl:hover{background:#1365bb;}
.compliance_03 dt{font-size:20px; color:#fff; margin:13px 0; position:relative;}
.compliance_03 dd{background:#fff; font-size:14px; margin-top:1px; padding:40px 25px; color:#666;line-height:24px;}
.compliance_03 dd:nth-last-child(1){border-radius:0 0 12px 12px;}
.compliance_03 table{margin: 0 auto;border-top: 2px solid #1365bb;width:1200px; background: #fff;}
.compliance_03 tr{border-bottom: 1px solid #ddd;}
.compliance_03 th{padding-left: 35px; font-size:18px;text-align:center;}
.compliance_03 td{padding: 40px 0 40px 80px; line-height:28px;}
.compliance_03 .Precautions{display:block; width:1100px;}

