/* 기업소개 내용영역 */
.visual{width: 100%;height: 220px;position: relative;background: url(../common/images/visual_sub1.jpg) center no-repeat;background-size: cover;}
.visual img{width: 100%;position:relative;left:0; top:0;}
.visual h2{width: 100%; position: absolute; top: 85px;color: #fff;font-size:2.5em; font-family: 'Noto Sans KR', sans-serif; font-weight:400; text-align: center;} 
#content{width: 100%;  margin: 0 auto;}
#content .content_area .topMove{position: fixed;}
#content .content_area{width: 90;margin: 5%; text-align: center;font-family: 'Nanum Gothic', sans-serif;}
    
#map{position:relative; width:100%; height:300px;border: 1px solid #ccc; margin:50px 0;}

/* 서브메뉴 */
.sub_nav{width: 100%; margin: 0 auto; color:#fff; text-align: center;overflow: hidden;position: absolute;bottom:0;left:0;}
.sub_nav li{float: left; transition: all .5s ease-in;width: 50%;}
.sub_nav li a{display: block; padding: 12px 0; margin-top:430px; font-family: 'Nanum Gothic', sans-serif; font-weight:500; font-size: 1.5em; color: #333;background: rgba(255,255,255,.8);}
.sub_nav .current a{color: #fff; background: rgba(19,101,187,.6);}  

.content_area h3{font-size: 2em; font-weight:700;text-align: center;margin-top: 70px;}
.content_area p{font-size: 2em;color: #333;margin-bottom:30px;}
.content_area p i{color: #1365bb; margin-right:10px}
.map_inner table{margin: 0 auto;border-top: 2px solid #1365bb; background: #fff;margin-bottom: 50px}
.map_inner tr{border-bottom: 1px solid #ddd;}
.map_inner tbody tr th{width: 30%;}
.map_inner tbody tr td{width: 70%;border-left: 1px solid #ccc}

.content_area .map_inner i{color: #1365bb; margin-right:10px;}
.table_wrap_01{margin-bottom: 70px}
.table_wrap_02{margin-bottom: 70px}
.content_area table{width: 100%; font-size: 1.143em; color: #333; margin-top: 20px; border-collapse: collapse;}
.content_area tr{border-bottom: 1px solid #ccc}
.content_area thead{border-top: 1px solid #666}
.content_area thead tr th{background: #f1f1f1; padding: 25px 0}
.content_area thead tr th:nth-last-of-type(1){border-left: 1px solid #ccc}
.content_area tbody tr th{width: 30%; padding: 40px 0;}
.content_area tbody tr td{width: 70%;padding: 0 10px; border-left: 1px solid #ccc}
